.persons {
    width: 50%;
}

.personsList {
    margin-top: 0;
}

.pages {
    display: flex;
    margin-left: 2%;
}

.page {
    margin: 0 0.2% 0 0.2%;
    cursor: pointer;
    border: 1px solid black;
}